* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: rgb(130, 39, 29);
    font-family: Georgia,  serif;
    }
h2{
    color: #3f2607;
}
 

h3{
    color: rgb(12, 12, 72);
}


body{
    background-color: rgba(225, 159, 125, 0.674);
}