@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo{
    font-family: 'Times New Roman', Times, serif;
}
h2,h3{
    font-family: 'Montserrat';
    color: #00473e;
    font-weight: bold;
}
h1{
    font-family: 'Montserrat';
    color:#00473e;
    font-weight: bold;
    text-align: center;
}
p,a,li{
    color:#475d5b;
}

section p, li{
    color: #271c19;
}
section, div {
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    background-color: #f2f7f5;
    }

body{
    background-color:#f2f7f5;
}

.imagen {
    width: 100%;
    max-height: 100%; /* Esto mantiene la proporción original de la imagen */
    max-width: 100%; /* Opcional, asegura que la imagen no se estire más allá de su tamaño original */
    display: block; /* Asegura que la imagen no cause problemas de formato en línea */
    margin: 1 auto; /* Centra la imagen horizontalmente */
    border: #55423d;
    border-radius: 30%;
  }
  figure {
    display: inline-block;
    max-width: 100%; /* Establece un ancho máximo del 100% para evitar que se superponga al contenido */
    margin: 0; /* Elimina cualquier margen que pueda causar problemas de superposición */
    overflow: hidden; /* La parte que sobresale será visible */
    position: absolute;
    top: 1;
}
figure img {
    width: 15em; 
    height: 15em; 
  }

.boton{
    background-color: #89f1ec;
    color: #00473e;
     border: black;
    font-size: 20px;
    padding: 10px 10px;
    border: 2px solid #271c19;
}
main{
    display: flex;
    padding: 0;
    margin: 0;
    justify-items: center;
}
.left-section{
    flex-grow: 0.2;
}
.right-section{
    flex-grow: 0.5;
}

form{
    background-color: #f2f7f5;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%; /* Ajusta la altura al 100% para centrar el contenido */
    padding: 20px; /* Añade un relleno para separar el texto del borde */
    box-sizing: border-box; /* Incluye el relleno en la altura y el ancho total */
}

.izquierda{
    flex-grow: 0.2;
    background-color: #00473e;
}

.derecha{
    flex-grow: 1;
    background-color: #00473e;
}

nav {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}

.links{
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: #faae2c;
    color: #00473e;
    border: 2px solid #00473e; /* Ancho del borde y color */
}

.links li a{
    text-decoration: none;
    border: 2px #00473e;
}

header{
    display: flex;
    padding: 0em 20em;
    justify-items: center;
}

header div {
    position: relative;
    top: 0;
    left: 50%;
}

@media (max-width: 768px) {
    .imagen {
        width: 50%;
        max-width: 100%;
        margin: 0 auto; /* Centra horizontalmente la imagen */
    }
}

#proyectos {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

#proyectos h2{
    text-align: center;
}

.Proyecto1 img, .Proyecto2 img {
    max-width: 100%; /* Ajustar la imagen al tamaño máximo del contenedor */
    height: auto; /* Ajustar la altura automáticamente */
}

.Proyecto2 , .Proyecto1{

    text-align: center;
    max-width: 45%; /* Tamaño máximo de las imágenes (48% para dejar espacio entre ellas) */
}


.Proyecto1 h3,.Proyecto2 h3 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}


.Proyecto1, .Proyecto2 {
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: #f2f7f5;
}
